*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page 1 */

nav ul li:nth-child(2) a {
    color: #784343;
    font-weight: bold;
    border-bottom: 2px solid #784343;
}

#accueil{
    background-color: #F5F3EF;
}

.home{
    background-image: url('../rss/hotel1.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center;
    color: white;
}
.home h1{
    font-size: 15px;
}
.home p{
    width: 30%;
    text-align: center;
    font-size: 55px;
}
.home span a{
    font-size: 20px;
    color: white;
}
.home .button{
    border: 1px solid white;
    margin-top: 50px;
}
.button{
    border: 1px solid black;
    padding: 10px;
    transition: .4s;
    text-align: center;
}
.button:hover{
    background-color: #ac6161;
    
}
.button a{
    text-decoration: none;
    color: black;
}

.about{
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 100px;
    margin-right: 50px;
    overflow: hidden;
}
.hover-img{
    transition:  0.5s;
    
}
.hover-img:hover{
    transform: scale(1.1);
}

.about-right{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.services-title{
    margin: 100px auto 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto 50px;
    justify-content: center;
}
.services div{
    width: 30%;
    margin-right: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}
.services div p{
    width: 70%;
    margin-bottom: 0;
    margin-left: 10px;
}

.icons{
    width: 50px;
    height: 50px;
}


.liens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .2em;
    height: 300px;
    overflow: hidden;
}
.liens div{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65%;
    justify-content: center;
    color: white;
    transition: 0.5s;
    overflow: hidden;
}
.liens div a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;
    text-decoration: none;
}
.lien_suite{
    background: url('../rss/Suite\ Junior\ 3\ -\ \ Majestic\ Hotel-Spa.webp') ;
    background-position: center;
    background-size: cover;
    position: relative;
}
.lien_bien-etre{
    background: url('../rss/Swimming\ Pool\ 1.webp') ;
    background-position: center;
    background-size: cover;
    position: relative;
}


@media screen and (max-width:1100px){
    .home p{
        width: 70%;
    }
    #chambre{
        width: 80% !important;
    }
    .services{
        width: 90%;
    }
    .liens{
        flex-direction: column !important;
        align-items: center;
        flex-wrap: nowrap;
        text-align: center;
    }
    .liens div{
        width: 75% ;
    }
    .icons{
        width: 50px;
        height: 50px;
    }
    .about-right{
        margin-top: 0;
    }
}

@media screen and (max-width:1000px){
    .about{
        flex-direction: column;
        justify-content: center ;
        margin-right: 0;
        align-items: center;
        text-align: center;
    }
    .reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    .about-right{
        width: 70%;
        margin-top: 20px;
        align-items: center;
    }
}

@media screen and (max-width:600px) {
    .home p{
        font-size: 40px ;
        width: 90%;
    }
    .home span a{
        font-size: 15px;
    }
    #chambre{
        width: 90% !important;
    }
    #chambre h2{
        width: 90% !important;
    }
    .services div{
        width: 42%;
        flex-direction: column;
        text-align: center;
    }
    .services p{
        margin: 0 !important;
    }
    .about-right h2{
        font-size: 20px;
    }
    .about-right p{
        font-size: 15px;
    }
    .about-right div span a{
        font-size: 13px;
    }
    .liens div{
        width: 95% ;
    }
}